{% extends 'base.html.twig' %}

{% block title %}Ajouter une image{% endblock %}

{% block body %}
<div class="wrapper zero-raduis panel-admin">
    <div id="formContent">
        <div class="first">
            <h2 class="my-3">Ajouter une image</h2>
        </div>

        {{ include('picture/_form.html.twig') }}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
