<h4>Bonjour,</h4>

<p>Une demande de réinitialisation de mot de passe a été effectuée pour le site SnowTricks. Veuillez cliquer sur le lien suivant :</p>

<a href="{{ url('app_reset_password', {token: token}) }}">{{ url('app_reset_password', {token: token}) }}</a>

<p>Cordialement,</p>

<p>SnowTricks</p>
