{% extends 'base.html.twig' %}

{% block title %}Panel Admin{% endblock %}

{% block body %}
<div class="example-wrapper" id="admin">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/openclassrooms/P6_doutreluingne_maxime/snowtricks/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/openclassrooms/P6_doutreluingne_maxime/snowtricks/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
