/* AVATAR NAVBAR */
.avatar {
  max-width: 35px;
  min-width: 35px;
  height: 35px;
}

.fa-user-circle,
.fa-home,
.fa-bookmark,
.fa-user-circle,
.fa-sign-out-alt,
.fa-sign-in-alt {
  font-size: 1.5em !important;
  height: 1.5vh !important;
  margin-top: 1.2vh;
  margin-right: 1vh;
}

.form-delete {
  display: inline;
}

.form-delete .fa-trash-alt {
  color: #47bcd4;
}

/* CARD TRICKS HOME PAGE*/
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 15%;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-teal {
  background-color: #47bcd4;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #545d7a;
}

.title_trick {
  color: #444444;
}

.loadmore-tricks {
  margin-bottom: 3vh;
}

/* LOGIN */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  margin-top: 10vh;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  padding: 2px;
  text-align: right;
  width: 90%;
}

input[type="button"],
button[type="submit"] {
  background-color: #47bcd4;
  border: none;
  color: white;
  width: 85%;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
button[type="submit"]:hover {
  background-color: #47bcd4;
}

input[type="button"]:active,
button[type="submit"]:active,
input[type="password"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #f6f6f6;
  color: #0d0d0d;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #47bcd4;
}

input[type="text"]:placeholder,
input[type="email"]:placeholder {
  color: #cccccc;
}

/* ADMIN */
.panel-admin {
  margin-top: 10vh;
}

/* TRICK */
.trick-data {
  font-size: 0.8rem;
}

.list-inline-item:not(:first-child) {
  margin-left: 0.5rem;
}

.no-medias {
  border: 2px solid grey;
}

.no-medias > p {
  color: grey;
}

.operations {
  position: absolute;
  top: 12vh;
  right: 10px;
  border: 2px solid black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

.masthead {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  min-width: 100% !important;
  padding: 15rem 0 !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-size: cover !important;
}

.trickimages {
  width: 280px !important;
  height: 160px !important;
}

.trickvideos {
  margin-left: 12%;
}

/* COMMENT */
.comments {
  margin-top: 100px;
}

#post-add-comment {
  background-color: #ddd;
  padding: 19px;
  border-radius: 4px;
  margin-bottom: 50px;
}

.list-comments {
  margin-bottom: 250px;
}

.post-comment {
  margin-bottom: 2em;
}

.commentnotes {
  font-size: 13px;
}

.comment-avatar {
  font-size: 27px !important;
}

.form-card {
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);
  max-width: 700px;
  padding: 25px;
  margin: 15px auto;
}

.form-card:hover,
.form-card:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form-card:focus-within {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* ADMIN */
.title-admin {
  color: #47bcd4;
  letter-spacing: 1px;
}
