{% extends 'base.html.twig' %}

{% block title %}Modifier un commentaire{% endblock %}

{% block body %}
<div class="wrapper zero-raduis panel-admin">
    <div id="formContent">

        <div class="first">
            <h2 class="my-3">Modifier un commentaire</h2>
        </div>

        {{ include('admin/comment/_form.html.twig', {'button_label': 'Valider'}) }}

    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
