<form method="post" class="form-delete" action="{{ path('trick_delete', {'slug': trick.slug}) }}"
    onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    {% if btn_delete is not defined %}
    <button class="btn" data-toggle="tooltip" data-placement="right" title="Supprimer"><i class="fas fa-trash-alt fa-lg"></i></button>
    {% else %}
    <button class="btn btn-danger center-block">Supprimer</button>
    {% endif %}
</form>
