{% extends 'base.html.twig' %}

{% block title %}Créer une figure{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{{ encore_entry_script_tags('addVideos') }}
{% endblock %}

{% block body %}
<div class="wrapper zero-raduis panel-admin">
    <div id="formContent">

        <div class="first">
            <h2 class="my-3">Créer une figure</h2>
        </div>

        {{ include('trick/_form.html.twig') }}

    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
