{% extends 'base.html.twig' %}

{% block title %}Créer une figure{% endblock %}

{% block body %}
<div class="wrapper zero-raduis panel-admin">
    <div id="formContent">

        <div class="first">
            <h2 class="my-3">Créer une figure</h2>
        </div>

        {{ include('trick/_form.html.twig') }}

    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
